public net.minecraft.client.gui.components.AbstractWidget MIN_SCROLL_PERIOD
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.model.geom.ModelPart$Cube polygons
public net.minecraft.client.gui.components.AbstractWidget PERIOD_PER_SCROLLED_PIXEL

public net.minecraft.client.model.AgeableListModel babyBodyScale
public net.minecraft.client.model.AgeableListModel bodyYOffset

public net.minecraft.world.entity.LivingEntity getCurrentSwingDuration()I

#Armor stand related things
public net.minecraft.world.entity.decoration.ArmorStand disabledSlots
public net.minecraft.world.entity.decoration.ArmorStand isDisabled(Lnet/minecraft/world/entity/EquipmentSlot;)Z
public net.minecraft.world.entity.decoration.ArmorStand getClickedSlot(Lnet/minecraft/world/phys/Vec3;)Lnet/minecraft/world/entity/EquipmentSlot;
